/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
body{
    background-color: #151921;
}
p{
    color: white;
}

main{
    height: calc(100vh - 100px);
    display: flex;
}
/* sto scrollando solo il mio contenuto */
section.scroll{
    overflow: auto;
}
/* INIZIO REGOLE LATO SINISTRO */
section.side-bar-left{
    width: 250px;
    background-color: black;
    height: 100%;
}
.nav-left{
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* regole logo */
.nav-logo-top-right{
    width: 100%;
    height: auto;
}
.nav-logo-top-right>img{
    width: 75%;
    height: auto;
    margin-top: 30px;
}
/* regole della home */

.nav-top-right-link>a>.image-top-right,
.nav-top-right-link>a>span {
    display: inline-block;
}
.image-top-right{
    width: 20%;
}
.image-top-right>img{
    width: 100%;
    height: 50px;
    vertical-align: middle;
}
/* regole titolo */
.nav-bottom-right>h3{
    color: white;
}

/* regole degli li */
.nav-bottom-right>li,
.nav-top-right>li{
    margin: 20px 0;
}
.nav-bottom-right>li>a,
.nav-top-right>li>a,
.download-install-app>li>a{
    text-decoration: none;
    color:#7e7f84;
}
/* regole bottom right
del quadrato più */
.square-plus{
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: white;
    position: relative;
    vertical-align: middle;
    margin-right: 10px;
}
.square-plus::before{
    content: "+";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: 500;
}
.square-write{
    font-size: 20px;
    font-weight: 800;
}
.container-bottom{
    height: 200px;
}
.container-top{
    height: calc(100vh - 200px);
}

/* regole download & installa app*/
.link-download{
    border-bottom: 3px solid #7e7f84;
    width: 150%;
}
.download{
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    display: inline-block;
}
img.image-download{
    width: 70%;
    height: 50px;
    vertical-align: middle;
}
/* regole profile */

.profile{
    width:40px;
    height: 40px;
    display: inline-block;
}
.image-profile{
    width: 95%;
    height: 35px;
    background-color: #808080;
    border-radius: 50%;
}
img.image-profile{
    vertical-align:middle;
}
.name-profile{
    color: white;
    font-weight: 800;
}



















/* INIZIO REGOLE LATO DESTRO */
section.side-bar-right{
    padding-top: 100px;
    width: calc(100vw - 250px);
    align-items: stretch;
}
section.side-bar-right > .pop-up{
     align-self:flex-end;
}
.pop-up{
      height: 100px;
      background-color: #080b12;
      opacity: 0.8;
      position: fixed;
      top: 0px;
      right: 0;
      left: 250px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
}
.pop-up>a{
    color: white;
    margin-right: 30px;
    position: relative;
    z-index: 100;
}
.button{
    border: 1px solid white;
    border-radius: 20px;
    z-index: 150;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 15px;
}

.nav-centre{
    display:flex;
    justify-content:center;
}
.nav-centre-link{
    display: flex;
    padding: 50px;
}
.nav-centre-link>li{
    margin-left: 20px;
}
.nav-centre-link>li>a{
    text-decoration: none;
    color:#7e7f84;
}








































footer{
    height: 100px;
    width:100%;
    background-color: #282828;
    z-index: 200;
}

.prova{
    height: 50px;
    width: 50%;
    background-color: red;
}
