/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
body{
    background-color: #151921;
}
p{
    color: white;
}

main{
    height: calc(100vh - 100px);
    overflow: scroll;
    display: flex;
}
/* INIZIO REGOLE LATO SINISTRO */
section.side-bar-left{
    width: 15%;
    background-color: black;
    height: 100%;
    align-items: stretch;
}
.nav-left{
    display: flex;
}
.nav-top-right-link{
    flex-direction: column;
    justify-content: flex-start;
}













/* INIZIO REGOLE LATO DESTRO */
section.side-bar-right{
    padding-top: 100px;
    width: 85%;
    align-items: stretch;
}
section.side-bar-right > .pop-up{
     align-self:flex-end;
}
.pop-up{
      height: 100px;
      background-color: #080b12;
      opacity: 0.8;
      position: fixed;
      top: 0px;
      right: 0;
      left: 15%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
}
.pop-up>a{
    color: white;
    margin-right: 30px;
    position: relative;
    z-index: 100;
}
.bottom{
    border: 1px solid white;
    border-radius: 20px;
    z-index: 150;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 15px;
}

.nav-centre{
    display:flex;
    justify-content:center;
}
.nav-centre-link{
    display: flex;
    padding: 50px;
}
.nav-centre-link>li{
    margin-left: 20px;
}
.nav-centre-link>li>a{
    text-decoration: none;
    color:#7e7f84;
}








































footer{
    height: 100px;
    width:100%;
    background-color: #282828;
    z-index: 200px;
}

.prova{
    height: 50px;
    width: 50%;
    background-color: red;
}
